video{
	position: absolute;

	top: 20px;
	left: 12%;

	width: 640px;
	height: 360px;

	background-color: #ccc;
} 

.video-proposed-list{
	position: relative;

	top: 20px;
	right: 50px;

	min-width: 25%;

	padding: 20px;

	float: right;
	background-color: #fff;
	align-items: center;
}

.video-proposed{
	position: relative;

	height: 120px;

	margin-bottom: 8%;

	background-color: #ccc;
}

.video-info{
	position: absolute;
	width: 640px;

	top: 380px;
	left: 12%;

	background-color: #ccc;
}