*{margin: 0;}

.left-main-menu{top:0; left:-100px; position: fixed; width: 100px; height: 100%;
	background-color: #000000; z-index: 2;

	transition-timing-function: ease-out;
	transition-duration: 0.35s;
}

.left-main-menu > ul{position:absolute; left:-10px; width: inherit; height: 100vh;}

.left-main-menu > ul > li { width: 80px; height: 20px; position: relative; left: 0;
	margin-top: calc(100vh/8);
	transition-timing-function: ease-in;
	transition-duration: 0.25s;
	color: #000000;
}

.left-main-menu > ul > li:hover { position: relative; left: -10px;
	
	cursor:default;
	color: red;
	transition-timing-function: ease-out;
	transition-duration: 0.35s;

}
.left-main-menu > ul > li > p > a {
	position: relative;
	left: -10px;
	color: white;
	font-size: 16px;
}

.left-main-menu > ul > a > p{
	color: white;
	font-size: 12px;
}

.btn-menu{
	position: fixed;
	z-index: 5;
	height: 60px;
	max-width: 120px;
	top: -0.5%;

	margin: 0.4%;

	background-color: #7a0707;
	border-radius: 3.5px;
	border:none;

}


.logo-box{
	box-sizing: border-box;
	height: 65px;
	position: relative;
	top: 4%;

}

.logo-p{
	left: 0%;
}


.logo-p-revers{
	left: -12%;
}

img{
	position: relative;

	width: 48px;
	height: 48px;
	z-index: 1;
	background: none;

	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 0.8s ease-in-out;
}


p.logo-text-p, p.logo-text-p-revers{
	position: relative;
	font-size: 16px;
	z-index: 2;
	top: -20px;
	height: 0;
	opacity: 0;
}

.logo-text-p{
	left: -30%;
	color:red;

	-webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.logo-text-p-revers{
	left: 270px;
	color: white;

	-webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}